<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hostnow Site</title>
    <style>
      #upload-site-form input[type="text"] {
          text-transform: lowercase;
      }
    </style>
  </head>
  <body class="bg-dark">
    <main class="container">
        <form id="upload-site-form" class="bg-light text-dark w-50 text-center mx-auto my-5" enctype="multipart/form-data" action="/upload-site" method="post">
            <div class="input-group my-2 px-4">
                <span class="input-group-text">
                https://
                </span>
                <input type="text" class="form-control" title="Enter valid subdomain" pattern="^([a-zA-Z0-9]){1,63}(?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$" name="subdomain" placeholder="subdomain" autocomplete="off" required="true">
                <span class="input-group-text">
                .hostnow.site
                </span>
            </div>
            <div class="input-group my-2">
                <input name="file" type="file" accept=".zip" class="form-control" required="true"/>
            </div>
            <div class="input-group my-2">
                <progress value="0" min="0" max="100"></progress>
            </div>
            <button class="btn btn-success my-2 mx-auto" type="submit">Launch Site</button>
        </form>
        <div id="upload-success" style="display: none;">
          <h4>Your site is live 🚀 <a target="_blank"></a></h4>
        </div>
    </main>
    <script>
      document.getElementById("upload-site-form").addEventListener("submit", customFormSubmit)

      async function customFormSubmit(event) {
        event.preventDefault()
        event.preventDefault();
        const formElement = event.target || event.srcElement
        const submitButtonElement = formElement.querySelector("button[type=submit]")
        const progressElement = formElement.querySelector("progress")
        submitButtonElement.disabled = true
        const formData = new FormData();
        const defaultFormData = new FormData(formElement);
        for (const [key, value] of defaultFormData) {
          formData.append(key, value)
        }
        const onProgress = progress => {
          const progressPercentage = `${Math.round(progress * 100)}`
          progressElement.value = progressPercentage
          progressElement.innerText = progressPercentage+'%'
        }
        const response = await xhrFormPost('/upload-site', formData, onProgress);
        submitButtonElement.disabled = false
        if (response.status >= 400) {
          throw new Error(`File upload failed - Status code: ${response.status}`);
        }
        const responseData = JSON.parse(response.body)
        showUploadSucessDiv(responseData)
        formElement.reset()
        progressElement.value = "0"
        progressElement.innerText = "0%"
      }

      const xhrFormPost = (url, formData, onProgress) =>
        new Promise((resolve, reject) => {
          const xhr = new XMLHttpRequest();
          xhr.upload.addEventListener('progress', e => onProgress(e.loaded / e.total));
          xhr.addEventListener('load', () => resolve({ status: xhr.status, body: xhr.responseText }));
          xhr.addEventListener('error', () => reject(new Error('Failed')));
          xhr.addEventListener('abort', () => reject(new Error('Aborted')));
          xhr.open('POST', url, true);
          xhr.send(formData);
      });

      const showUploadSucessDiv = (responseData) => {
        const siteUrl = 'https://' + responseData.siteDomain
        const uploadSucessElement = document.getElementById("upload-success")
        uploadSucessElement.style.display = 'block'
        uploadSucessElement.querySelector('a').href = siteUrl
        uploadSucessElement.querySelector('a').innerText = siteUrl
      }
  </script>
  </body>
</html>